.main-background {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.main-background::before {
    content: '';
    position: absolute;
    height: var(--height-before);
    width: 100vw;
    z-index: -1;
    top: 0;
    background: linear-gradient(20deg, rgba(41,33,33,1) 2%, rgba(232,40,40,1) 33%, rgba(70,17,17,1) 56%);
}

.main-background::after {
    content: '';
    position: absolute;
    width: 100vw;
    bottom: 0;
    height: var(--height-after);
    background: #7c8086;
    z-index: -1;
    bottom: 0;
}

.container {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-logo {
    margin-top: 8px;
    margin-bottom: 7px;
}

.container-logo-main {
    margin: 0;
    font-size: 5.8rem;
    padding: 0 6px 5px;
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 5.3rem;
    font-weight: 700;
    color: #fff;
    overflow: hidden;
    text-align: center;
    background: #ea2830;
    position: relative;
    cursor: pointer;
    border: 3px solid #000;
    width: 65px;
    letter-spacing: 8px;
    transition: .3s linear;
}

.container-logo-main:hover {
    width: 236px;
    letter-spacing: normal;
    transition: .2s linear;
}




.container-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    color: #58fff7;
    text-shadow: 10px 9px 5px rgb(0, 0, 0);
    font-size: 2rem;
}

.container-header::after {
    content: 'MARVEL STUDIOS';
}


.nav {
    display: flex;
    margin-top: 12px;
}


.nav > li {
    margin: 0 27px;
    border: 2px solid #fff;
    padding: 8px 17px;
    position: relative;
    transition: background .2s linear;
    border-radius: 70% 40% 50% 50% / 40% 70% 40% 70%;
}

.nav > li::before {
    content: '';
    position: absolute;
    width: 197px;
    height: 25px;
    background-color: transparent;
    top: -15px;
    left: -49px;
    display: none;
}

.nav > li:hover {
    background: #ff4600;
    border: 2px solid #000;
}

.main-item {
    color: #fff;
    font-size: 1.5rem;
    
}

.sub-nav {
    position: absolute;
    top: -57px;
    left: -57px;
    display: none;
}

.nav > li:hover .sub-nav {
    display:flex;
    animation: hien .2s linear;
}

@keyframes hien {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.nav > li:hover::before {
    display: block;
}

.sub-nav > li {
    width: 67px;
    border: 2px solid #000;
    margin: 0 4px;
    text-align: center;
    padding: 13px 7px;
    box-shadow: 0px 0px 4px 1px #fff;
    background: #e74508;
    border-radius: 80% 60% 100% 10% / 100% 50% 90% 40%;
}

.sub-nav > li:hover {
    background:  #ff4600;
}

.sub-item {
    color: #fff;
    font-size: 1.4rem;

}

.footer {
    width: 100%;
    margin-top: 8px;
    border: 4px solid #fff;
}

.img {
    background: url(/assets/img/marvel.jpg) top center /cover no-repeat;
    background-position: 0px -43px;
    height: 65vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
}

.shape {
    width: 23%;
    height: 42%;
    background: linear-gradient(34deg, rgba(48,1,1,1) 2%, rgba(198,24,24,1) 53%);
    position: relative;
}

.shape::after {
    content: '';
    position: absolute;
    border-right: 83px solid transparent;
    border-bottom: 206px solid #c61818;
    right: -83px;
}

.shape::before {
    content: '';
    width: 34px;
    height: 166px;
    transform: skew(22deg);
    background: #2fafa9;
    position: absolute;
    right: -90px;
    top: 57px;
}

.paragraph {
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 2.1rem;
    position: absolute;
    padding: 11px 9px 5px 19px;
    line-height: 35px;
}

.icon-footer {
    padding: 10px 12px;
    border: 2px solid #fff;
    border-radius: 50%;
    transform: rotate(1deg);
    position: absolute;
    bottom: -14px;
    right: -18px;
    animation: vong 1.7s linear infinite;
    z-index: 1;
}

@keyframes vong {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}